{{#extends 'base'}}
{{#block 'title'}}Aroma Misty - User Signup{{/block}}

{{#block 'content'}}
<div class="container">
    <h2>Register User</h2>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        {{{form}}}

        <input type="submit" class="btn btn-primary btn-sm mt-4" value="Register" />
    </form>
</div>


{{/block}}

{{/extends}}