{{#extends 'base'}}
{{#block 'title'}}Aroma Misty - Upload Stock{{/block}}
{{#block 'content'}}

<h2>Upload Stock</h2>
<div>
    <form method="POST">
        <a href="/diffusers" class="btn btn-danger btn-sm mt-3 mb-4">Back</a>
        {{{form}}}


        <input type="submit" value="Add Product" class="btn btn-success"/>
    </form>


</div>



{{/block}}


{{/extends}}