{{#extends 'base'}}
{{#block 'title'}}Aroma Misty - Upload Stock{{/block}}
{{#block 'content'}}

<h2>Upload Stock</h2>
<div>
    <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
            {{#if diffuser}}
                <a href="/diffusers" class="btn btn-danger btn-sm mt-3 mb-4">Cancel</a>
            {{else}}
                <a href="/oils" class="btn btn-danger btn-sm mt-3 mb-4">Cancel</a>
            {{/if}}
        <div>
            <div class="form-group">
                <label class="form-label text-primary">Product Image</label>
                <input type="hidden" id="img" role="uploadcare-uploader" name="diffuser_image" data-tabs="file url" />
            </div>
            <img scr="" style="display:none" id="uploaded_img" alt="uploaded image" />
        </div>
        {{{form}}}


        <input type="submit" id="upload_stock" value="Add Product" class="btn btn-success mt-4 mb-4" />
    </form>
</div>
{{/block}}

{{!-- Create the Uploadcare image widget --}}
{{#block 'js'}}
<script>UPLOADCARE_PUBLIC_KEY = 'b22936bcd39cc9d079d3'
    UPLOADCARE_CLEARABLE = true;
</script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
<script>

    
   
    document.querySelector("#upload_stock").addEventListener('click', function () {
        document.querySelector("#id_image_url").value = document.querySelector("#img").value;
    })

</script>

{{/block}}

{{/extends}}