{{!-- Display all products in the store --}}
{{#extends 'base'}}
{{#block 'title'}}Aroma Misty - Products{{/block}}

{{#block 'content'}}
<div class="container">
    <h2>Display all products</h2>
    {{#each diffuser}}
    <ul>
        <li>Diffuser Name: {{this.diffuser_name}}</li>
        <li>Price: {{this.cost}}</li>
    </ul>
    {{/each}}



</div>

{{/block}}

{{/extends}}