{{#extends 'base'}}
{{#block 'title'}}Aroma Mist - Update Stock{{/block}}

{{#block 'content'}}
<h2>Update Stock Item: {{diffuser.diffuser_name}}</h2>

<a href="/diffusers" class="btn btn-danger btn-sm mt-3 mb-4">Cancel</a>
<form method="POST">
    {{{form}}}


    <input type="submit" value="Update Item" class="btn btn-success btn-sm"/>
</form>



{{/block}}


{{/extends}}